.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.category-card {
  width: 100%;
  cursor: pointer;

  &__custom-image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.custom-text {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}
