.product-card {
  cursor: pointer;
  transition: transform 0.3s ease;

  &__custom-image img {
    display: block;
  }
  &__custom-card {
    padding: 10px 16px;
  }
  &__price {
    color: #999;
    &_discounted {
      color: red;
    }
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }

  @media (hover: none) {
    &:active {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }
}

.pagination {
  & > li {
    color: #2f7c69;
  }

  & > li > a {
    color: #2f7c69 !important;
  }

  & > li > button {
    color: #2f7c69 !important;
  }

  & > li > button:disabled {
    color: rgba(0, 0, 0, 0.25) !important;
  }
  .ant-pagination-item-active {
    border-color: #2f7c69;
    & > a {
      color: #2f7c69;
      transition: color 0.3s ease;
    }
    transition: all 0.3s ease;

    @media (hover: hover) {
      &:hover {
        background-color: #2f7c69;
        border: 1px solid #2f7c69;
        transition: all 0.3s ease;
      }

      & > a:hover {
        color: #fff !important;
        transition: color 0.3s ease;
      }
    }

    @media (hover: none) {
      &:active {
        background-color: #2f7c69;
        border: 1px solid #2f7c69;
        transition: all 0.3s ease;
      }

      & > a:active {
        color: #fff !important;
        transition: color 0.3s ease;
      }
    }
  }
}
