@media (max-width: 700px) {
  .profile__sider {
    min-width: 80px !important;
    max-width: 80px !important;
  }
  .address__form-item {
    margin-bottom: 6px;
  }
  .address__form-switch {
    width: 55px;
  }
}
