.cart {
  width: 100%;
  display: flex;
  justify-content: center;

  &__wrapper {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  &__products-box {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  &__count {
    margin-block-end: 0;
    margin-block-start: 0;
  }

  &__promocode {
    margin-block-end: 0;
    margin-block-start: 0;
  }

  .card-temp {
    width: 240px;
    height: 320px;
    background-color: red;
  }

  &__bottom-box {
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }

  &__bottom-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  &__total {
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 600;
  }

  &__discount {
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 600;
    color: red;
  }

  &__discounted {
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 600;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;

    .cart__empty-message {
      font-size: 1.5rem;
      font-weight: 600;
      color: #333;
    }

    .cart__empty-submessage {
      font-size: 1.2rem;
      color: #666;
      margin: 0;
    }

    .cart__empty-suggestion {
      font-size: 1.5rem;
      color: #2f7c69;
    }
  }

  @media screen and (max-width: 680px) {
    &__bottom-box {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }
}
