@import 'node_modules/normalize-scss/sass/normalize/import-now';

html {
  background: url('src/images/bg.png') no-repeat center center fixed;
}

.custom-color {
  background-color: #fff !important;
  color: #376a4f !important;
  border: 1px solid #376a4f !important;
}
.custom-color:hover {
  background-color: #376a4f !important;
  color: #fff !important;
  border: 1px solid #376a4f !important;
}
