.count-input {
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;

  &__button {
    width: 1.6rem;
    height: 1.6rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &_increment {
      padding-right: 0.1rem;
      border-radius: 0 50% 50% 0;
    }

    &_dectement {
      padding-left: 0.1rem;
      border-radius: 50% 0 0 50%;
    }
  }

  &__display {
    height: 1.5rem;
    width: 1.4rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    color: #2f7c69;
  }
}
